.myCardDesign {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 42%;
  display: flex;
  margin: 0.2em;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1.5/1;
  border: 0.1em var(--secondary-color) solid;
  cursor: pointer;
}

@media (min-width: 551px) {
  .myCardDesign {
    width: 31%;
  }
}
@media (min-width: 786px) {
  .myCardDesign {
    width: 24%;
  }
}

@media (min-width: 1281px) {
  .myCardDesign {
    width: 19%;
  }
}

.imageCard {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleBar{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.titleCard {
  height: 70%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.sideTitleCard{
  width: 20%;
}
.imageCardDesign {
  height: auto;
  width: 50%;
}
.pendingCountCircle{
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 0.2em solid red;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (min-width: 451px) {
  .pendingCountCircle {
    font-size: 1.4rem;
  }
}