.eventsDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-weight: bold;
}
.eventCard{
  width: 95vw;
  display: flex;
  margin: 0.3em;
  flex-direction: row;
  justify-content: space-between;
  border: 0.1em var(--secondary-color) solid;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.eventTitle{
  width: 10%;
}
.eventDate{
  width: 10%;
}
.eventDescription{
  width: 35%;
}
.eventPublisher{
  width: 21%;
}
.eventStage{
  width: 12%;
}
.eventCourse{
  width: 12%;
}
.addEvent{
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventTextModal{
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.eventDescriptionModal{
  width: 95%;
}
@media screen and (min-width: 641px) {
  .addEvent {
    width: 5%;
  }
}
@media screen and (min-width: 1281px) {
  .addEvent {
    width: 4%;
  }
}