.button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 0.08em solid var(--tertiary-color);
  color: var(--tertiary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.authButtonDesign {
  width: 30vw;
  height: 7vh;
  border-radius: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}
.loginButtonDesign{
  width: 30vw;
  height: 7vh;
  border-radius: 0.2em;
  font-size: 1.2rem;
  font-weight: bold;
}
.modalButtonDesign{
  width: 50%;
  height: 7vh;
  border-radius: 0.3em;
  font-size: 1rem;
}
.slimButtonDesign {
  width: 55vw;
  height: 5vh;
  border-radius: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}
.marginTopBottom {
  margin: 1em 0 0 0;
}
.margitBottomButton{
  margin: 0 0 1em 0;
}
@media screen and (min-width: 640px) {
  .authButtonDesign {
    width: 20vw;
    height: 5vh;
  }
  .slimButtonDesign {
    width: 25vw;
  }
}
@media screen and (min-width: 1281px) {
  .authButtonDesign {
    width: 25vw;
  }
  .loginButtonDesign {
    width: 20vw;
  }
  .slimButtonDesign {
    width: 20vw;
  }
}
@media screen and (min-height: 745px) {
  .authButtonDesign {
    height: 6.5vh;
  }
  .loginButtonDesign {
    height: 6.5vh;
    font-size: 1.4rem;
  }
}
@media screen and (min-height: 915px) {
  .authButtonDesign {
    height: 4.5vh;
  }
  .loginButtonDesign {
    height: 4vh;
    font-size: 1.5rem;
  }
  .slimButtonDesign {
    height: 3.5vh;
  }
}