.button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 0.08em solid var(--tertiary-color);
  color: var(--tertiary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.authButtonDesign {
  width: 17vw;
  max-width: 18em;
  height: 7vh;
  max-height: 3em;
  border-radius: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}
.loginButtonDesign{
  width: 17vw;
  height: 7vh;
  border-radius: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}
.modalButtonDesign{
  width: 50%;
  height: 7vh;
  border-radius: 0.3em;
  font-size: 1rem;
}
.slimButtonDesign {
  width: 18vw;
  height: 5vh;
  border-radius: 0.2em;
  font-size: 1rem;
  font-weight: bold;
}
.marginTopBottom {
  margin: 1em 0 0 0;
}
@media screen and (min-width: 640px) {
  .authButtonDesign {
    width: 25vw;
    height: 5vh;
  }
}
@media screen and (min-width: 1281px) {
  .authButtonDesign {
    width: 25vw;
    height: 5vh;
  }
}
