.dropDown {
  height: 100%;
  position: relative;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}

.dropDownContent {
  display: none;
  position: absolute;
  left: 0%;
  top: 100%;
  background-color: var(--primary-color);
  width: 50vw;
  box-shadow: 0 0.5em 1em 0.2em rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.headerPhotoProfile {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerPhotoProfile img {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
}

.show {
  display: block;
}
.childList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  padding: 0.2em 0.8em;
}
.registerSwitch{
  height: 2em;
}
@media (min-width: 641px) {
  .dropDownContent {
    width: 30vw;
  }
}@media (min-width: 1281px) {
  .dropDownContent {
    width: 25vw;
  }
}


