.dropDown {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  width: 50vw;
  box-shadow: 0 0.5em 1em 0.2em rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.headerPhotoProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerPhotoProfile img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.show {
  display: block;
}


