#root {
  margin: 0;
  padding: 0;
  text-align: center;
}
* {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  -webkit-user-drag: none;
  -moz-user-drag: none; 
  -ms-user-drag: none; 
  user-drag: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}