.authInputDesign {
    width: 80%;
    height: 6vh;
    font-size: 1rem;
    border-radius: 0.2em;
    border: 0.1em solid var(--secondary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.authInputDesignError {
  border: 0.1em solid red;
}
.authInputDesign:focus {
  box-shadow: 1px 1px 5px 1px var(--secondary-color);
  outline: none;
}
.loginInputDesign {
  width: 70vw;
  height: 7vh;
  font-size: 1.2rem;
  border-radius: 0.2em;
  border: 0.1em solid var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.loginInputDesignError {
border: 0.1em solid red;
}
.loginInputDesign:focus {
box-shadow: 1px 1px 5px 1px var(--secondary-color);
outline: none;
}
.searchUserInputDesign {
  width: 70vw;
  height: 7vh;
  font-size: 1.2rem;
  border-radius: 0 0 0.2em 0.2em;
  border: 0.1em solid var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modalInputDesign {
  width: 80%;
  height: 7vh;
  font-size: 1rem;
  border-radius: 0.2em;
  border: 0.1em solid var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.littleInputDesign {
  margin: 0;
  width: 20%;
  height: 7vh;
  border-radius: 0.2em;
  border: 0.1em solid var(--secondary-color);
  font-size: 1rem;
}
.userSearchInputDesign {
  width: 80%;
 padding: 0.2em;
  font-size: 1rem;
  border-radius: 0.2em;
  border: 0.1em solid var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 640px) {
  .loginInputDesign, .searchUserInputDesign {
    width: 35vw;
  }
}
@media screen and (min-width: 1601px) {
  .authInputDesign, .searchUserInputDesign {
    width: 30vw;
  }
  .loginInputDesign {
    width: 20vw;
  }
}
@media screen and (min-height: 745px) {
  .authInputDesign {
    height: 6.5vh;
  }
  .loginInputDesign {
    height: 6.5vh;
    font-size: 1.4rem;
  }
}
@media screen and (min-height: 900px) {
  .authInputDesign {
    height: 4.5vh;
  }
  .loginInputDesign, .searchUserInputDesign {
    height: 4vh;
    font-size: 1.5rem;
  }
}